.navBar{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}
.navMenu{
    color: red;
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    
}
.socialLinks{
    color: green;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    
}
