@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --default-color: #465F93;
  --default-color-dark:#28488f;
  --banner-title-text-color:rgb(46,39,39);
  --white-color-transparent:rgba(255,255,255,0.5);
  --banner-container-background-color:rgb(214,219,220);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
  
  /* @apply h-full; */
}
 /* html {
  @apply h-full;
 }

 div#__next{
  @apply h-full;
 } */

 /* main {
  @apply h-full;
 } */